.navbar-container {
    background: linear-gradient(to right, #8e44ad, #3498db);
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
  }
   
  .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
   
  .nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
   
  .nav-item-link {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    transition: font-weight 0.3s ease, text-decoration 0.3s ease;
    margin:15px;
  }
   
  .nav-item-link:hover {
    font-weight: bold;
    text-decoration: underline;
  }
   
  .nav-item-link.active {
    font-weight: bold;
    border-bottom: 2px solid #fff;
  }